@if (result != null && i != null) {
    <div (click)="loadCategory()" class="flex flex-col p-5 border border-soma-dark2 rounded-xl text-accent-foreground gap-2 bg-cell-membrane cursor-pointer hover:bg-soma-purple/20 hover:border-soma-purple transition-colors duration-200 ease-out"
        [ngClass]="[
        defCategory?.hoverBg ?? 'hover:bg-dark-matter/10',
        defCategory?.hoverBorder ?? 'hover:border-soma-purple',
        selectedCategoryIndex() === i 
            ? (defCategory?.bg_color ?? 'bg-soma-dark/20') 
            : '',
        selectedCategoryIndex() === i 
            ? (defCategory?.border_color ?? 'border-soma-purple') 
            : 'border-soma-dark2'
    ]">
        <div class="flex flex-row items-center-safe gap-3">
            <i class="fi text-xl"
            [ngClass]="[defCategory?.icon ?? 'fi-rr-shield',
                defCategory?.color ?? 'text-emerald-500'
            ]"></i>
            <p class="text-sm font-bold">{{ result.meta.category | removeUnderscore }}</p>
            
        </div>

        @if (analysisStatus && result.status) {
            @if (analysisStatus != ANALYSIS_STATUS.FAILED && result.status.toLowerCase() == ANALYSIS_STATUS.COMPLETED.toLowerCase()) {
                <div class="flex flex-row justify-center-safe items-center-safe gap-3">
                    <div class="w-full flex flex-col gap-1">
                        <div class="flex flex-row text-xs items-center-safe gap-1.5">
                            <i class="fi fi-rr-bullseye text-orange-400"></i>
                            <p class="text-gray-400">Score: <span class="font-bold">{{ result.response.overall_severity }}/5</span></p>
                        </div>
                        <div class="flex flex-row text-xs items-center-safe gap-1.5">
                            <i class="fi fi-rr-exclamation text-red-400"></i>
                            <p class="text-gray-400">Issues: <span class="font-bold">{{ result.response.issues.length }}</span></p>
                        </div>
                    </div>
                </div>
            } @else {
                <div class="flex flex-row justify-center-safe items-center-safe gap-3">
                    <i class="fi fi-rr-broken-chain-link-wrong text-red-500"></i>
                    <p class="text-gray-400"><span class="font-bold">Not available</span></p>
                    <i class="fi fi-rr-broken-chain-link-wrong text-red-500"></i>
                </div>
            }
        }
        
    </div>
} @else {
    <div class="flex flex-col p-5 border border-soma-dark2 rounded-xl text-accent-foreground gap-2 bg-cell-membrane hover:bg-soma-purple/20 hover:border-soma-purple transition-colors duration-200 ease-out">
        <div class="flex flex-row items-center-safe gap-3">
            <app-loading-icon></app-loading-icon>
            <app-loading-data></app-loading-data>
        </div>
        <div class="flex flex-row justify-center-safe items-center-safe gap-3">
            <div class="w-full flex flex-col gap-1">
                <div class="flex flex-row text-xs items-center-safe gap-1.5">
                    <app-loading-data></app-loading-data>
                </div>
                <div class="flex flex-row text-xs items-center-safe gap-1.5">
                    <app-loading-data></app-loading-data>
                </div>
            </div>
        </div>
    </div>
}

