<section class="fixed inset-0 z-9999 p-5">
    
    <div class="absolute inset-0 bg-dark-matter/60 backdrop-blur-[3px]"></div>

    <div class="relative w-full max-w-100 p-4 mx-auto
                flex flex-col rounded-xl bg-cell-membrane text-accent-foreground
                top-1/2 -translate-y-1/2">
        
        <div class="w-full flex flex-row">
            <p class="flex-1">Are you sure?</p>
            <i (click)="cancel()" title="Close panel" class="fi fi-rr-cross-small text-xl text-red-400 cursor-pointer hover:bg-red-400/20 transition-colors duration-200 ease-out"></i>
        </div>

        <p class="mt-5 mb-5 text-gray-300">
            Delete 
            <span class="font-bold">{{ resource }}</span> 
            with id 
            <span class="font-bold">{{ idToRemove }}</span> 
            ?
        </p>

        <hr class="border-gray-700 mt-3 mb-3">

        <div class="w-full flex flex-col sm:flex-row gap-3 justify-end">
            <button (click)="confirm()" class="bg-green-500/30 border border-green-500/30 rounded-md px-3 py-2 hover:bg-green-500/50 hover:border-green-500/50 transition-colors duration-200 ease-out">Confirm</button>
            <button (click)="cancel()" class="bg-gray-500/30 border border-gray-500/30 rounded-md px-3 py-2 hover:bg-gray-500/50 hover:border-gray-500/50 transition-colors duration-200 ease-out">Cancel</button>
        </div>

    </div>

</section>
