<div class="flex items-center justify-center w-full h-screen flex-col">

    <form [formGroup]="registrationForm" (ngSubmit)="sendRegistration()" class="flex flex-col items-center gap-y-4 rounded-2xl bg-white/8 w-md pl-10 pr-10 pt-7 pb-7 border border-soma-dark">

        <div class="w-30 aspect-square flex items-center justify-center border border-accent1 rounded-full bg-linear-to-r from-purple-500/30 to-pink-500/30">
            <i class="fi fi-rr-brain-circuit text-6xl text-accent1 animate-pulse"></i>
        </div>

        <div class="flex flex-col items-center">
            <h1 class="text-5xl font-bold bg-clip-text text-transparent bg-linear-to-r from-purple-500 to-pink-500">Claire</h1>
            <h6 class="text-sm font-bold bg-clip-text text-transparent bg-linear-to-r from-purple-500 to-pink-500">Code Logic And Inspection using Reasoning Engine</h6>
        </div>
        @if (generalMessage()) {
            <div class="w-fit rounded-2xl border-soma-purple border bg-soma-dark/50 p-3">
                <p class="text-sm text-error text-center">{{ generalMessage() }}</p>
            </div>
        }
        <div class="w-full flex flex-row gap-3">
            <div class="w-full flex flex-col">
                <p class="text-accent-foreground text-sm font-bold mb-1">Name</p>
                <input type="text" formControlName="name" placeholder="Name" required
                    class="w-full pl-10 pt-2 pb-2 bg-accent1/50 border-accent-foreground border rounded-md text-accent-foreground bg-[url(/assets/imgs/user-white.png)] bg-no-repeat bg-position-[center_left_0.6rem] bg-size-[20px] opacity-70 hover:opacity-100 focus:opacity-100 transition-all">
                @if (name?.invalid && (name?.dirty || name?.touched)) {
                    @if (name?.hasError('required')) {
                        <p class="mt-1 text-xs text-error">Name is required</p>
                    }
                    @if (name?.hasError('minlength')) {
                        <p class="mt-1 text-xs text-error">Name can't be smaller than 3 characters</p>
                    }
                    @if (name?.hasError('maxlength')) {
                        <p class="mt-1 text-xs text-error">Name can't be longher than 20 characters</p>
                    }
                    @if (name?.hasError('api')) {
                        <p class="mt-1 text-xs text-error">{{ name?.getError('api') }}</p>
                    }
                }
            </div>
            <div class="w-full flex flex-col">
                <p class="text-accent-foreground text-sm font-bold mb-1">Surname</p>
                <input type="text" formControlName="surname" placeholder="Surname" required
                    class="w-full pl-10 pt-2 pb-2 bg-accent1/50 border-accent-foreground border rounded-md text-accent-foreground bg-[url(/assets/imgs/user-white.png)] bg-no-repeat bg-position-[center_left_0.6rem] bg-size-[20px] opacity-70 hover:opacity-100 focus:opacity-100 transition-all">
                @if (surname?.invalid && (surname?.dirty || surname?.touched)) {
                    @if (surname?.hasError('required')) {
                        <p class="mt-1 text-xs text-error">Surname is required</p>
                    }
                    @if (surname?.hasError('minlength')) {
                        <p class="mt-1 text-xs text-error">Surname can't be smaller than 3 characters</p>
                    }
                    @if (surname?.hasError('maxlength')) {
                        <p class="mt-1 text-xs text-error">Surname can't be longher than 20 characters</p>
                    }
                    @if (surname?.hasError('api')) {
                        <p class="mt-1 text-xs text-error">{{ surname?.getError('api') }}</p>
                    }
                }
            </div>
        </div>
        <div class="w-full">
            <p class="text-accent-foreground text-sm font-bold mb-1">Nickname</p>
            <input type="text" formControlName="nickname" placeholder="Nickname" required
                    class="w-full pl-10 pt-2 pb-2 bg-accent1/50 border-accent-foreground border rounded-md text-accent-foreground bg-[url(/assets/imgs/user-white.png)] bg-no-repeat bg-position-[center_left_0.6rem] bg-size-[20px] opacity-70 hover:opacity-100 focus:opacity-100 transition-all">
            @if (nickname?.invalid && (nickname?.dirty || nickname?.touched)) {
                @if (nickname?.hasError('required')) {
                    <p class="mt-1 text-xs text-error">Nickname is required</p>
                }
                @if (nickname?.hasError('minlength')) {
                    <p class="mt-1 text-xs text-error">Nickname can't be smaller than 3 characters</p>
                }
                @if (nickname?.hasError('maxlength')) {
                    <p class="mt-1 text-xs text-error">Nickname can't be longher than 20 characters</p>
                }
                @if (nickname?.hasError('api')) {
                    <p class="mt-1 text-xs text-error">{{ nickname?.getError('api') }}</p>
                }
            }
        </div>
        <div class="w-full">
            <p class="text-accent-foreground text-sm font-bold mb-1">Email</p>
            <input type="email" formControlName="email" placeholder="email@domain.com" required
                    class="w-full pl-10 pt-2 pb-2 bg-accent1/50 border-accent-foreground border rounded-md text-accent-foreground bg-[url(/assets/imgs/email-white.png)] bg-no-repeat bg-position-[center_left_0.6rem] bg-size-[20px] opacity-70 hover:opacity-100 focus:opacity-100 transition-all">
            @if (email?.invalid && (email?.dirty || email?.touched)) {
                @if (email?.hasError('required')) {
                    <p class="mt-1 text-xs text-error">Email is required</p>
                }
                @if (email?.hasError('email')) {
                    <p class="mt-1 text-xs text-error">Email is invalid</p>
                }
                @if (email?.hasError('minlength')) {
                    <p class="mt-1 text-xs text-error">Email can't be smaller than 3 characters</p>
                }
                @if (email?.hasError('maxlength')) {
                    <p class="mt-1 text-xs text-error">Email can't be longher than 70 characters</p>
                }
                @if (email?.hasError('api')) {
                    <p class="mt-1 text-xs text-error">{{ email?.getError('api') }}</p>
                }
            }
        </div>
        <div class="w-full flex flex-row gap-3">
            <div class="w-full flex flex-col">
                <p class="text-accent-foreground text-sm font-bold mb-1">Password</p>
                <input type="password" formControlName="password" placeholder="••••••••••" required
                    class="w-full pl-10 pt-2 pb-2 bg-accent1/50 border-accent-foreground border rounded-md text-accent-foreground bg-[url(/assets/imgs/password-white.png)] bg-no-repeat bg-position-[center_left_0.6rem] bg-size-[20px] opacity-70 hover:opacity-100 focus:opacity-100 transition-all">
                @if (password?.invalid && (password?.dirty || password?.touched)) {
                    @if (password?.hasError('required')) {
                        <p class="mt-1 text-xs text-error">Password is required</p>
                    }
                    @if (password?.hasError('minlength')) {
                        <p class="mt-1 text-xs text-error">Password can't be smaller than 3 characters</p>
                    }
                    @if (password?.hasError('maxlength')) {
                        <p class="mt-1 text-xs text-error">Password can't be longher than 20 characters</p>
                    }
                    @if (password?.hasError('api')) {
                        <p class="mt-1 text-xs text-error">{{ password?.getError('api') }}</p>
                    }
                }
            </div>
            <div class="w-full flex flex-col">
                <p class="text-accent-foreground text-sm font-bold mb-1">Repeat password</p>
                <input type="password" formControlName="repeatPassword" placeholder="••••••••••" required
                    class="w-full pl-10 pt-2 pb-2 bg-accent1/50 border-accent-foreground border rounded-md text-accent-foreground bg-[url(/assets/imgs/password-white.png)] bg-no-repeat bg-position-[center_left_0.6rem] bg-size-[20px] opacity-70 hover:opacity-100 focus:opacity-100 transition-all">
                @if (registrationForm.hasError('passwordMismatch') && (repeatPassword?.dirty || repeatPassword?.touched)) {
                    <p class="mt-1 text-xs text-error">Passwords don't match!</p>
                }
            </div>
        </div>

        <div class="w-full text-white">
            <button 
                type="submit" 
                [disabled]="isRegister()" 
                class="font-bold text-accent-foreground w-full h-10 rounded-md bg-linear-65 from-purple-500 to-pink-500 hover:opacity-80 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center gap-2 transition-all">

                @if (isRegister()) {
                    <span class="flex items-center gap-2">
                        <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        Registration in progress...
                    </span>
                } @else {
                    <span>Register</span>
                }

            </button>
        </div>

        <p class="mt-3 text-sm text-accent-foreground">Already registered? <a routerLink="/login" class="text-accent1 decoration-0 hover:brightness-150">Login</a></p>
    </form>

</div>